* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    text-align: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.widget-wrap {
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
}#quizWrap {
    max-width: 600px;
    margin: 0 auto;
}

#quizQn {
    direction: rtl;
    padding: 20px;
    background: #4c93ba;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}

#quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin-bottom: 25px;
}

#quizAns input[type=radio] {
    display: none;
}

#quizAns label,#quizWrap input,#quizWrap a {
    direction: rtl;
    text-decoration: none;
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}
#quizAns label.correct{
    text-decoration: none;
    background: #d8ffc4;
    border: 1px solid #60a03f;
}

#quizAns label.wrong{
    text-decoration: none;
    background: #ffe8e8;
    border: 1px solid #c78181;
}